@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/shrikhand/Shrikhand-Regular.otf');

}

:root {
    --primaire-color: #9356DC;
    --secondaire-color: #FF79DA;
    --tertiaire-color: #99E2D0;
}

body {
    font-family: 'roboto', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------------- */
/* -------------------------------------------------loader ------------------------------------ */
/* -------------------------------------------------------------------------------------------- */


.position-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100vh;

    background-image: linear-gradient(to top, var(--secondaire-color), rgb(12, 12, 12), var(--primaire-color));
    opacity: 1;
    animation: backgroundloader 3s forwards;
}

/*---------------------- bar loader   ------------------------------- */
/*------------------------------ bar middle */

.loader_bars::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: linear-gradient(190deg, var(--secondaire-color), var(--primaire-color));
    border-radius: 5px;
    animation: size 1500ms linear 0.5s infinite;

}

/*----------------------------- bar left */

.loader_bars::after {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 2.5px;
    width: 8px;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(190deg, var(--primaire-color), var(--secondaire-color));
    animation: size 1500ms linear infinite;

}

/*-------------------------------------- bar rigth */

.loader_bars span {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    top: 2.5px;
    width: 8px;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(190deg, var(--primaire-color), var(--secondaire-color));
    animation: size 1500ms linear infinite;

}

/* ------------------------keyframes ------------------------------------------ */
@keyframes size {
    0% {
        transform: scaleY(0.2);
        opacity: 0.7;

    }

    50% {
        transform: scaleY(1);
        opacity: 1;

    }

    100% {
        transform: scaleY(0.2);
        opacity: 0.7;


    }

}

@keyframes backgroundloader {

    0% {
        z-index: 6;
        opacity: 1;
    }





    99% {
        z-index: 6;
        opacity: 1;
    }

    100% {
        z-index: -1;
        opacity: 0;

    }
}

/* ------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------header------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0em 0.5em 0em;
    box-shadow: #5e5d5d56 1px 1px 10px;

}

header h1 {
    margin: 0em;
    font-family: 'Shrikhand';
}


/* ---------------------------------localisation */
.title_localization {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6b7;
    gap: 1em;
    font-size: 1em;
    padding: 1em 0em 1em 0em;
    color: rgb(90, 90, 90);

}

.title_localization p {
    padding: 0em;
    margin: 0em;
    font-weight: 900;

}

/*------------------------------------ introduction */
.section_introduction {
    background-color: #e6e6e652;
    padding: 3em 2em 3em 2em;
    text-align: center;
}

.section_introduction h1 {
    margin: 0em;
    padding: 0em 1em 0em 1em;
    font-size: 1.5em;

}

.section_introduction p {
    font-size: 1.1em;
    color: rgb(90, 90, 90);
}


/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------bouton explorer dautre restaurant--------------------------------  */
/* ---------------------------------------------------------------------------------------------- */
.explore_another_restaurant {
    color: white;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    border-radius: 5em;
    border: 0em;
    background-size: 100%;
    transition: all 1s ease-out;
    background-image: linear-gradient(350deg, var(--primaire-color)60%, var(--secondaire-color));
    box-shadow: 0px 1px 4px rgba(56, 56, 56, 0.719);

}

.explore_another_restaurant:hover {
    background-image: linear-gradient(350deg, var(--primaire-color) 40%, var(--secondaire-color));
    box-shadow: 4px 4px 10px rgba(56, 56, 56, 0.719);

}

/* ---------------------------------------------------------------------------------------------- */
/* -----------------------------------button fonctionality------------------------------- */
/* ---------------------------------------------------------------------------------------------- */


.section_list_category {
    padding: 2em 1em 3em 1em;
}


.container_button_category {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.button_category {

    display: flex;
    justify-content: flex-start;
    gap: 2em;
    width: 100%;
    margin: 0.8em 0.5em 0.8em 0.5em;
    padding: 1.5em 2em 1.5em 2em;
    border-radius: 20px;
    border: 0px;
    box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.541);

}

/* -----------------------number overlay */
.number_button_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1em;
    width: 1em;
    padding: 8px;
    color: white;
    background-color: var(--primaire-color);
    border-radius: 5em;
    font-size: 10px;
    position: absolute;
    left: 0px;
    top: 35px
}

.button_category i {
    font-size: 1.3em;
    color: #5e5d5d;
}
.text_button_category{
    color: #000000;
}

.button_category:hover {
    color: var(--primaire-color);
    background-color: #9256dc1a;
}

.button_category:hover i {
    color: var(--primaire-color);
}

.button_category:hover .text_button_category {
    color: #000000;
}



/* main  */
main {
    padding: 1.5em 1em 2.5em 1em;
    background-color: #f2f2f2;
}

main h2 {
    font-size: 1.5em;
}

/* article restaurant  */
.card_restaurant {
    position: relative;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(56, 56, 56, 0.15);
    border-radius: 1em 1em 1em 1em;
    border-radius: 1em;
    margin: 1em 0em 1em 0em;

}

.card_restaurant img {
    object-fit: cover;
    object-position: 0% 60%;
    width: 100%;
    height: 180px;
    border-radius: 1em 1em 0em 0em;

}

.card_body_restaurant p {
    padding: 0.3em 0em 0em 0em;
    margin: 0em;
    font-size: 0.8em;
    color: rgb(90, 90, 90);
}

.card_restaurant h3 {
    padding: 0em;
    margin: 0em;
    font-size: 0.9em;
}

.card_body_restaurant {
    margin: 0.5em;
    margin-top: 0em;
    padding: 0.5em 0.5em 1em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay_new {
    background-color: var(--tertiaire-color);
    box-shadow: 9px 3px 10px rgba(56, 56, 56, 0.719);
    color: rgb(23, 163, 128);
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 87%;
    font-size: 0.8em;
    border-radius: 3px;
    transform: translate(-50%, -50%);
}

.overlay_new p {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0em;
    font-size: 0.9em;
}

.card_restaurant_image_new {
    position: relative;
    text-align: center;

}

/* --------------------------------------------------------------------------------- */
/*----------------------------------- heart animation-----------------------------  */
/* --------------------------------------------------------------------------------- */
article .fa-heart {
    position: absolute;
    transform: translate(-50%);
    right: 1.5rem;
    font-size: 1.3em;
}


.far {
    opacity: 1;
    transition: opacity 1ms;
}

.far:hover {
    opacity: 0;

}

.fas {
    transition: opacity 1s;
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(349deg, var(--primaire-color), var(--secondaire-color));
    background-clip: text;
    -webkit-background-clip: text;
}

.fas:hover {
    opacity: 1;


}

/* --------------------------------------------------------------------------------- */
/* ---------------------------------------footer------------------------------------ */
/* --------------------------------------------------------------------------------- */

footer {
    
    margin: 0em;
    background-color: rgb(53, 53, 53);
    padding: 0.5em 0em 3em 0em;
}

footer ul {
    list-style: none;
    color: white;
    padding-left: 1.5em;
    margin: 0.5em 0Em 0em 0em;
}


footer h2 {
    width: 8em;
    padding: 0em;
    margin: 0em;
    font-family: 'Shrikhand';
    font-size: 1.3em;
    font-weight: 100;
    color: white;
    padding-left: 1em;
    padding-top: 1em;

}

footer li {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 0.8em;
}

footer a {
    text-align: left;
    display: flex;
    gap: 4px;
    color: white;
}

.footer_align-items {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.fa-handshake-angle {
    font-size: 0.7em;
}


@media screen and (min-width:991px) {

    footer h2 {
        padding: 1em 0em 0.5em 0em;
        text-align: center;
    }

    footer ul {
        display: flex;
        z-index: 1;
        margin: 0em;
        background-color: rgb(53, 53, 53);
        padding: 0.5em 0em 3em 0em;
        gap: 1em;
    }

    footer {
        margin-top: 3em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    main {
        margin-left: auto;
        margin-right: auto;
        width: 950px;
        margin-top: 3em;
        margin-bottom: 3em;
        border-radius: 2.5em 2.5em 0em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -2em;
    }

    .list_card_restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        width: 950px;
    }

    .card_restaurant {
        width: 450px;
    }

    .section_list_category {
        width: 950px;
        margin: auto;
    }

    .list_button_category_position {
        display: flex;
        justify-content: space-around;

    }



}

@media (min-width:767px) and (max-width:990px) {

    .section_list_category {
        width: 100%;
        margin: auto;
        padding: 2em 0em 3em 0em;

    }

    .section_list_category h2 {
        margin-left: 0.5em;
    }

    .list_button_category_position {
        display: flex;
        justify-content: center;

    }

    .button_category {
        align-items: center;
        gap: 0.5em;
        width: 100%;

    }


    .card_restaurant {
        width: 350px;
    }


    .list_card_restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        width: 750px;
        margin: auto;
    }

    /* -----------------main------------------------ */
    main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        border-radius: 2.5em 2.5em 0em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -2em;
    }


    /* ------------------footer-----------------  */
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0em;
    }

    footer h2 {
        padding: 1em 0em 0.5em 0em;
        text-align: center;
    }

    footer ul {
        display: flex;
        z-index: 1;
        margin: 0em;
        background-color: rgb(53, 53, 53);
        padding: 0.5em 0em 2em 0em;
        gap: 1em;
    }
}