@font-face {
    font-family: 'Shrikhand';
    src: url('/fonts/shrikhand/Shrikhand-Regular.otf');

}



    body {
        font-family: 'roboto';
    }

    /* header */

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.5em;
        padding-bottom: 1em;
        box-shadow: 1px 1px 4px;
        
    }

    header img {
        width: 11em;
    }

    .image_background_introduction{
        background-image: url('/images/restaurants/a-la-francaise.jpg');
        width: 100%;
        height:250px;
        background-size: cover;
        background-position: 100%;
        
    }

    header i {
        position: absolute;
        left: 10%;
    }
    main {
        background-color: white;
        border-radius: 2em ;
        margin-top: -2em;
        padding: 1em 1.5em 1em 1.5em;
        background-color: #f2f2f2;
    }

    main h1{
        margin: 0em;
        font-family: 'Shrikhand' ;
        font-size: 1.8em;
    }

    .title_page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0em ;
    }

    /* card entree  */

    .card_entree{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: white;
        padding: 0.8em;
        margin: 1em 0em 1em 0em;
        border-radius:0.5em;
        box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.541);
    }
    .card_entree p {
        margin: 0em;
    }

    .card_entree h3 {
        margin: 0em;
    }
    /* second course  */
    .card_second_course{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: white;
        padding: 0.8em;
        margin: 1em 0em 1em 0em;
        border-radius:0.5em;
        box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.541);
    }
    .card_second_course p {
        margin: 0em;
    }

    .card_second_course h3 {
        margin: 0em;
    }
    /* desserts */
    .card_desserts{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: white;
        padding: 0.8em;
        margin: 1em 0em 1em 0em;
        border-radius:0.5em;
        box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.541);
    }
    .card_desserts p {
        margin: 0em;
    }

    .card_desserts h3 {
        margin: 0em;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .button_order {
        background: linear-gradient(180deg, #FF79DA 0.4%, #9356DC 99.6%);
        color: white;
        padding: 1em 1.5em 1em 1.5em;
        margin: 1em;
        border-radius: 5em;
        border: 0em;
    }

    .position_button_order{
        text-align: center;
        margin: 1em;
    }
    /* footer */

    footer {
        margin: 0em;
        background-color: rgb(53, 53, 53);
        padding: 1em 0em 3em 0em;
    }

    footer ul {
        list-style: none;
        color: white;
        padding-left: 2em;
    }


    footer h2 {
        width: 8em;
        padding: 0em 0em 1em 0em;
        margin: 0em;
        font-family: 'Shrikhand';
        font-size: 1.3em;
        font-weight: 100;
        color: white;
    }


    footer a {
        text-align: left;
        display: flex;
        gap: 4px;
        color: white;
    }
